*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quadrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.q1 {
    width: 150px;
    height: 150px;
    background-color: rgb(224, 162, 248);
}

.q2 {
    width: 150px;
    height: 150px;
    background-color: rgb(248, 162, 222);
}