
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito";
    padding: 20px
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
    
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(204, 227, 248);
    margin: 0 auto 20px;
    border-radius: 8px;
    border: 2px solid rgb(122, 179, 231);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color:rgb(204, 227, 248);
    border: 2px solid rgb(122, 179, 231);
    margin: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end{
    justify-content: end;
}